body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    padding: 20px;
    margin: 0;
    background-image: url('background1.jpg');
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #000080; /* Dark blue */
    margin-bottom: 20px;
}

.sound-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sample-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border: 4px solid #000080; /* Dark blue border */
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sample-btn:hover {
    background-color: #ffb6c1; /* Light pink on hover */
}

.text-to-speech {
    margin-top: 30px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
